@CHARSET "UTF-8";

body{
	background-color:#3E4F4F;
	font-family: Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	color: #C1C0C0;
	font-size: 12px;
}

.jackhammer{
	margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width:400px;

    text-align: center;

}

#jackhammerSVG{
	height:275px;	
	width:100%;
	opacity: 0;
}

#jackhammer_title{
	font-size: 3em;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 125%;
}

#jackhammer_countdown{
	color:#ffffff;
	fill:#ffffff;
}

.jhcount{
	font-size: 4em;
}

.jhtime{
	fill:#ffffff;
	 text-anchor:middle;
}

.jackhammer_clear{
	clear:both;
}

#svg_countdown{
	overflow: visible;
}

#jackhammer_socialmedia{
	margin-top: 1.75em;
	text-align: center;
}

#jackhammer_socialmedia ul{
	list-style: none;
	padding: 0;
}

#jackhammer_socialmedia li{
	display: inline;
}

#jackhammer_socialmedia img{
	height:3em;
	width:3em;
	margin: 0 .25em;
	opacity: 1;
	border:0;
}

#jackhammer_socialmedia a {
	outline:none;
}

#jackhammer_socialmedia a img{
	outline:none;
}

#jackhammer_socialmedia img:hover{
	opacity: .75;
}

